# Секретный ключ для подписи JWT токенов (сгенерируйте свой!)
SECRET_KEY=yoursecretkeyhere

# Ссылка на базу данных (по умолчанию SQLite в папке data/db)
# DATABASE_URL=sqlite:///./data/db/papanda.db

# Путь к папке данных (если хотите изменить стандартное расположение)
# DATA_DIR=./data
