# fastapi
fastapi
uvicorn[standard]
python-multipart
jinja2

# database
sqlalchemy
aiosqlite

# auth & security
passlib[bcrypt]
bcrypt==4.3.0
python-jose[cryptography]
python-dotenv
pydantic-settings

# excel export/import
openpyxl

# testing
pytest
pytest-asyncio
httpx
anyio
python-dateutil
