<!DOCTYPE html>
<html lang="{{ locale | default('ru') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Объяснения{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ asset('vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('notes.css') }}">
    <script type="module" src="{{ asset('runtime.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    {% block scripts %}{% endblock %}

</body>
</html>
